<li class="header-dropdown-toggle team-status-header-icon {{if this.isDropdownOpen "active"}}">
  <DButton
    class="icon btn-flat"
    id="team-status-button"
    @icon={{this.icon}}
    @action={{this.toggleDropdown}}
    @title={{theme-prefix "team.title"}}
    @ariaLabel={{theme-prefix "team.title"}}
    @ariaExpanded={{this.isDropdownOpen}}
    @onKeyDown={{this.onTeamButtonKeyDown}}
  />

  {{#if this.isDropdownOpen}}
    <div class="menu-panel drop-down" {{on-click-outside this.closeDropdown}}>
      <div class="panel-body">
        <div class="panel-body-contents">
          <ul class="team-status-list">
            {{#if this.isLoading}}
              <li class="loading-state">{{theme-i18n "team.loading"}}</li>
            {{else}}
              {{#each this.teamMembers as |member|}}
                <li class="team-member-item">
                  <div class="member-avatar">
                    <a href="/u/{{member.username}}" data-user-card={{member.username}}>
                      {{avatar member imageSize="small"}}
                    </a>
                    {{#if (eq member.status.emoji "green_circle")}}
                      <!-- Optional: Eigener Indikator für "online" -->
                    {{/if}}
                  </div>
                  <div class="member-info">
                    <a class="member-username" href="/u/{{member.username}}">{{member.username}}</a>
                    {{#if member.status}}
                      <span class="member-status">
                        <span aria-hidden="true">{{replace-emoji (concat ":" member.status.emoji ":")}}</span>
                        {{member.status.description}}
                      </span>
                    {{/if}}
                  </div>
                </li>
              {{else}}
                <li class="empty-state">
                  {{theme-i18n "team.empty" group=(theme-setting "team_status_group")}}
                </li>
              {{/each}}
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  {{/if}}
</li>
